<style>
    #right {
        float: right;
        font-size: 11px;
        margin-top: 10px;
        text-align: right;
    }
</style>
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div id="left" class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
              {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">
        {% if site.url %}
        <p><a href="https://docs.google.com/forms/d/e/{{ site.form_id | escape }}/viewform?entry.1073143569={{ site.url | append:page.url | escape }}&entry.2080441427&entry.1331555321&entry.278526493" target="_blank" rel="noopener">{{ site.feedback | escape}}</a></p>
        {% endif %}
        <p>Made with <3 by the HackGTeam</p>
      </div>
    </div>

  </div>
</footer>
{% if page.layout == "schedule" %}
    {% include schedule.js %}
{% endif %}
{% if page.js %}
    {% for script in page.js %}<script src="{{ script }}"></script>
    {% endfor %}
{% endif %}
