<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
              {% include social.html %}
        <ul class="contact-list">
          <li class="p-name">
              {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        {% if site.url %}
        <p><a href = "{{ site.url| cgi_escape | escape }}">{{ site.feedback | escape}}</a></p>
        {% endif %}
        <p>Made with <3 by the HackGTeam</p>
      </div>
    </div>

  </div>
</footer>
{% if page.layout == "schedule" %}
    {% include schedule.js %}
{% endif %}
{% if page.js %}
    {% for script in page.js %}<script src="{{ script }}"></script>
    {% endfor %}
{% endif %}
