<style>
  ul.social-media-list {
      list-style: none;
  }
  ul.social-media-list > li {
      display: inline;
      padding: 6px;
  }
</style>
<ul class="social-media-list">
    {% for sm in site.data.social_media %}
        <li>
            {% assign svg_name = sm.name | strip | downcase %}
            {% if svg_name == 'google+' %}
                {% assign svg_name = "googleplus" %}
            {% endif %}
            <a href="{{ sm.profile_url }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#{{ svg_name }}"></use></svg> <span class="sr-only">{{ sm.name }}</span></a>
        </li>
    {% endfor %}
</ul>
