// Blocks
$block-accent-color: rgba(255,255,255,0.9);
$block-alt-accent-color: #E1BFF2;
$block-header-text-color: #10112e;
$corner-border-radius: 15px;
$block-body-bg-color: rgba(255,255,255,0.10); 
$block-body-text-color: #ffffff;

// Blocks
.block {

    h1, h2, h3, h4, h5, h6 {
        margin-top: $spacing-unit;
    }

    a {
        font-weight: bold;
        color: $block-body-text-color;
        text-decoration: underline;
    }
}

.block-header {
    @include relative-font-size(1.25);
    background: $block-accent-color;
    color: $block-header-text-color;
    text-align: center;
    border-radius: $corner-border-radius $corner-border-radius 0 0;
    padding: 0.75em;
}

.block-body {
    font-weight: 300;

    :not(:last-child) { margin-bottom: 15px; }

    padding: 1.25em;
    background-color: $block-body-bg-color;
    color: $block-body-text-color;
    border-radius: 0 0 $corner-border-radius $corner-border-radius;
    margin-top: -30px;
}

.block-body > *:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.block.block-left > .block-header {
    background: $block-accent-color;
}

.block.block-right > .block-header {
    background: $block-alt-accent-color;
}

.hide-mobile {
    @include media-query($on-palm) {
        display: none;
    }
}
