@charset "utf-8";


// Blocks
$block-accent-color: #4ea1d3; //Used on the left column of two_column layout, and all schedule columns
$block-alt-accent-color: #4ea1d3; //Used on the right column of the two_column layout
$block-header-text-color: #d8e9ef;
$corner-border-radius: 3px;
$block-body-bg-color: #fafdff;
$block-body-text-color: #471a1a;

// Blocks
.block {
    margin-bottom: 15px;
}

.block-header {
    @include relative-font-size(1.375);
    background: $block-accent-color;
    color: $block-header-text-color;
    text-align: center;
    border-radius: $corner-border-radius $corner-border-radius 0 0;
}

.block-body {
    padding: 5px;
    background-color: $block-body-bg-color;
    color: $block-body-text-color;
}

.block.block-left > .block-header {
    background: $block-accent-color;
}

.block.block-right > .block-header {
    background: $block-alt-accent-color;
}
