@charset "utf-8";


// Blocks
$block-accent-color: black; //Used on the left column of two_column layout, and all schedule columns
$block-alt-accent-color: black; //Used on the right column of the two_column layout
$block-header-text-color: white;
$corner-border-radius: 0px;
$block-body-bg-color: black;
$block-body-text-color: white;

// Blocks
.block {
    h1, h2, h3, h4, h5, h6 {
        margin-top: $spacing-unit;
    }

    a {
        color: #99ccff;
    }
}

.block-header {
    @include relative-font-size(1.75);
    background: $block-accent-color;
    color: $block-header-text-color;
    font-weight: bold;
    text-align: center;
    border-radius: $corner-border-radius $corner-border-radius 0 0;
    padding: .4em 0.5em;
    // box-shadow: 2px 4px #E8E8E8;
    border-left: solid 3px white;
}

.block-body {
    padding: 30px;
    background-color: $block-body-bg-color;
    color: $block-body-text-color;
    border-radius: 0 0 $corner-border-radius $corner-border-radius;
    margin-bottom: 3%;
    // box-shadow: 2px 4px #E8E8E8;
    border-left: solid 3px white;
}

.block-body {
    h3 {
        // text-align: center;
    }
}

.block-body > *:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.block.block-left > .block-header {
    background: $block-accent-color;
}

.block.block-right > .block-header {
    background: $block-alt-accent-color;
}
