footer.site-footer {
    padding: 0;
    padding-top: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #5c5854;
}

.footer-col > p {
    margin-bottom: 0;
}
