@charset "utf-8";

$table-cell-highlight-color: #ededed;
$day-highlight-color: #e1f0f5;
$table-header-row-background: rgb(211, 215, 241);

.schedule {
    /*overflow-x: auto;*/
    table {
        margin-bottom: 0;
        border: 0;
    }

    table > thead > tr > th {
        background: $table-header-row-background;
        border: 0;
    }

    table > thead > tr > th,
    table > tbody > tr > td:not(.schedule-day) {
        border: 0;
    }


    table > tbody > tr > td.schedule-day {
        @include relative-font-size(1.125);
        font-weight: bold;
        border-top: 0;
        border-right: 0;
        border-left: 4px solid $block-accent-color;
        cursor: pointer;
        i {
            user-select: none;
        }
    }

    table > thead > tr > th,
    table > tbody > tr > td {
        padding: 3px;
    }

    table > tbody > tr:nth-child(even) > td {
        background: white;
    }

    table > tbody > tr:nth-child(odd) > td {
        background: $table-cell-highlight-color;
    }

    table > tbody > tr,
    table > thead > tr {
        border: 0;
    }

    table > tbody > tr > td.schedule-day {
        background: $day-highlight-color;
    }

    table > tbody > tr > td.schedule-day {
        background: $day-highlight-color;
    }

    td {
        min-width: 85px;
        color: #2d2d36;
    }

    @include media-query($on-palm) {
        td {
            min-width: 73px;
        }
    }



    td:last-child {
        min-width: 100px;
    }
}

.schedule-body {
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.schedule-error,
.schedule-loading,
.schedule-message {
    text-align: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    > img {
      padding-bottom: 5px;
    }

    > h4, > p {
      max-width: 350px;
      margin: auto;
    }

    > h4 {
      padding-top: 15px;
    }

    > img {
        max-width: 300px;
    }
}

.schedule-status-msg {
  height: 150px;
}

table > tbody > tr.old > td {
    color: #969696;
}

.schedule-body {
    display: none;
}

.schedule-body.active {
    display: block;
}