@charset "utf-8";

.block {
    margin-bottom: 15px;
}

.block-header {
    @include relative-font-size(1.625);
    background: black;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.block-body {
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}

.schedule {
    table {
        margin-bottom: 0;
    }

    table > thead > tr > th,
    table > tbody > tr > td:not(.schedule-day) {
        border: 0;
    }

    table > thead > tr > th,
    table > tbody > tr > td {
        padding: 3px;
    }



    td {
        min-width: 75px;
    }

    td:last-child {
        min-width: 100px;
    }
}

.schedule-body {
    padding: 0;
    border: 0;
}

.schedule-day {
    @include relative-font-size(1.125);
    font-weight: bold;
    border-left: 4px solid black;
}

.old {
    color: #9E9E9E;
}
