@charset "utf-8";


// Colors:
// Site-Level
$page-background-color: #f7e8cf;
// To change the page font as a whole, add
// font-family: fonts-here !important;
// to the body block in this file

// Individual Pages
$page-title-color: #5c5854;

// Navbar
$navbar-menu-icon-dark: #424242;
$navbar-menu-icon-light: white;

$navbar-background-color: #f9f7f4;
$navbar-menu-icon-color: #707070;
$navbar-text-color: #707070;

// Site-Level
body {
    //Use the CSS property below to set the site body font
    margin-right: $nav-bar-width + $spacing-unit * 1.5;
    font-family: 'Raleway', sans-serif !important;
    background: $page-background-color;
    color: $page-title-color !important;
    //Uncomment the block below and change the font to set the site header font
    h1, h2, h3, h4, h5, h6,
    div.wrapper > a.site-title,
    div.block-header {
        font-family: sauna-swash-new;
    }
    @include media-query($on-palm) {
        margin-right: 0px;
    }
}

a.site-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
}

a.site-title:hover {
    text-decoration: none;
}

nav.site-nav {
    background: $navbar-background-color;
}

span.menu-icon > svg > path {
    fill: $navbar-menu-icon-color !important;
}

// columns
div.image-column-wide {
    width: 70vw;
    float: left;
    margin-right: $spacing-unit;
    margin-left: $spacing-unit;
}

div.image-column-thin {
    width: 40vw;
    float: left;
    margin-right: $spacing-unit;
    margin-left: $spacing-unit;
}

div.text-column {
    width: 100%;
    margin-right: $spacing-unit;
}

// Individual Pages
h1.post-title {
    font-size: 80px;
    color: $page-title-color;
    @include media-query($on-palm) {
        font-size: 60px;
    }
}

// Navbar
header.site-header {
    background: $navbar-background-color;
}

div.wrapper > a.site-title,
div.trigger > a.page-link {
    color: $navbar-text-color;
}

div.trigger > a.page-link {
    @include relative-font-size(2);
    font-family: sauna-swash-new;
    @include media-query($on-palm) {
        @include relative-font-size(1.24);
    }
}

div.container {
    padding: 0;
    max-width: inherit;
}

ul, ol {
    ul, ol {
        margin-top: 0;
    }
}

li {
    margin-bottom: $spacing-unit / 4;
}

li:last-child {
    margin-bottom: 0;
}

.material-icons {
  vertical-align: middle;
}

@-webkit-keyframes rotate-caret-open {
  0% { transform: rotate(-90deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes rotate-caret-close {
  100% { transform: rotate(-90deg); }
}

i.closed {
  animation-name: rotate-caret-close;
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

i.open {
  animation-name: rotate-caret-open;
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

// The style below is adapted from http://rianrietveld.com/2015/04/04/the-screen-reader-text-class-why-and-how/
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
