@charset "utf-8";


// Colors:
// Site-Level
$page-background-color: #d0e6ef;
// To change the page font as a whole, add
// font-family: fonts-here !important;
// to the body block in this file

// Individual Pages
$page-title-color: #454552;

// Navbar
$navbar-menu-icon-dark: #424242;
$navbar-menu-icon-light: white;

$navbar-background-color: #454566;
$navbar-menu-icon-color: $navbar-menu-icon-light;
$navbar-text-color: #fff0f2;

// Site-Level
body {
    //Use the CSS property below to set the site body font
    font-family: 'Raleway', sans-serif !important;
    background: $page-background-color;
    // Uncomment the block below and change the font to set the site header font
    /*h1, h2, h3, h4, h5, h6,
    div.wrapper > a.site-title,
    div.block-header {
        font-family: 'ProximaNova';
    }*/
}

a.site-title {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
}

a.site-title:hover {
    text-decoration: none;
}

nav.site-nav {
    background: $navbar-background-color;
}

span.menu-icon > svg > path {
    fill: $navbar-menu-icon-color !important;
}

// Individual Pages
h1.post-title {
    color: $page-title-color;
}

// Navbar
header.site-header {
    background: $navbar-background-color;
}

div.wrapper > a.site-title,
div.trigger > a.page-link {
    color: $navbar-text-color;
}

div.trigger > a.page-link {
    @include relative-font-size(1.125);
}

div.container {
    padding: 0;
}

// The below is adapted from http://rianrietveld.com/2015/04/04/the-screen-reader-text-class-why-and-how/
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
