div.tabs {
    font-family: 'Baloo 2';
    font-weight: bolder;
    text-align: center;
    font-size: 1.2em;
}

li.tab {
    list-style: none;
    display: inline-block;
    padding: 0 1.5em;
    cursor: pointer;
}

li.tab.active {
    background-color: #dadada;
}
