---
layout: default
---
<div class="column">
      <div class="post-content">
          {% for block in page.blocks %}
              {% for i in site.blocks %}
                  {% assign block_full_path = "_blocks/" | append: block %}
                  {% if block_full_path == i.path %}
                    <div class="block">
                        <div class="block-header">
                            {{ i.title }}
                        </div>
                        <div class="block-body">
                            {{ i | markdownify }}
                        </div>
                    </div>

                  {% endif %}
              {% endfor %}
          {% endfor %}
      </div>
</div>
