---
layout: default
---
{% for cal in page.calendars %}
<div class="column">
    <div class="block">
        <div class="block-header">
            {{ cal.title | escape }}
        </div>
        <div class="block-body schedule-body">
            <div class="schedule-loading align-middle schedule-{{ forloop.index0 }}">
                <img src="https://placekitten.com/g/150/150" draggable="false" />
                <h4>
                    Fetching the latest events!
                </h4>
            </div>

            <div class="schedule-error hidden align-middle schedule-{{ forloop.index0 }}">
                <img src="https://placekitten.com/g/150/150" draggable="false" />
                <h4 class="error-title" style="margin-left: auto; margin-right: auto;">

                </h4>
                <p class="error-text"></p>
                <p class="error-msg"><small></small></p>

            </div>

            <div class="schedule hidden" id="schedule-{{ forloop.index0 }}">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Event
                            </th>
                            <th>
                                Start time
                            </th>
                            <th>
                                End time
                            </th>
                            <th>
                                Location
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for cal in page.calendars %}
    {% if forloop.first == true %}
        <script type="text/javascript">
        var apiKey = "{{ page.gcal.api_key | escape }}";
        var startDateTime = "{{ page.gcal.start_datetime | escape }}";
        var endDateTime = "{{ page.gcal.end_datetime | escape }}"
        var calendars = [
    {% endif %}
        "{{ cal.id | escape }}",
    {% if forloop.last == true %}
        ];
        </script>
    {% endif%}
{% endfor %}
