---
layout: default
---
<div class="{{ page.imageColumn }}">
    <div class="post-content">
        {% for block in page.cms_blocks_left %}
        <div class="block cms-infoblock {% if page.hide_on_mobile contains block %} hide-mobile {% endif %}" data-cms-slug="{{ block }}">
                <div class="block-header">Loading</div>
                </br>
                <div class="block-body">...</div>
            </div>
        {% endfor %}
      </div>
</div>
<div class="text-column">
      <div class="post-content">
          {% for block in page.cms_blocks_right %}
              <div class="block cms-infoblock" data-cms-slug="{{ block }}">
                <div class="block-header">Loading</div>
                </br>
                <div class="block-body">...</div>
              </div>
          {% endfor %}
      </div>
</div>
